<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    {% for url in urls %}
    <li><a href="{{ url_for('redirect_url', short_url=url.short_url) }}" target="_blank">{{ url.short_url }}</a> - {{ url.long_url }} - {{ url.created_at.strftime('%I:%M%p %B %d, %Y') }} - {{url.clicks}}</li>
    <p>Scan this QR Code:</p>
    <img src="{{url_for('generate_qr_code_url', short_url=url.short_url)}}" alt="QR Code">
    <br>
    <hr>
    {% endfor %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <strong style="color:red;">{{ message }}</strong>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>