{% extends 'base.html' %}
{% block title %}URL History{% endblock %}
{% block content %}
  <table>
	<thead>
		<tr>
		  <th>Short URL</th>
		  <th>Long URL</th>
		  <th>Date Created</th>
		</tr>
	</thead>
	<tbody>
		{% for url in urls %}
		<tr>
		<td><a href="{{ url_for('redirect_url', short_url=url.short_url) }}" target="_blank">{{ url.short_url }}</a></td>
		<td>{{ url.long_url }}</td>
		<td>{{ url.created_at.strftime('%I:%M%p %B %d, %Y') }}</td>
		</tr>
		{% endfor %}
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for message in messages %}
					<strong style="color:red;">{{message}}</strong>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</tbody>
  </table> 
{% endblock %}
