<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
</head>
<body>
    <table>
        <tr>
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Clicks</th>
        </tr>
        {% for url in urls %}
        <tr>
            <td>{{ url.short_url }}</td>
            <td>{{ url.long_url }}</td>
            <td>{{ url.clicks }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>