{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="hero">
    <div class="about-text">
    <h2>About RedRoute</h2>
    <p>
    Red Route is a free and easy-to-use tool that allows you to shorten long URLs. With Red Route, you can create short, memorable URLs that are easy to share.
    </p>
    <p>
    Red Route is perfect for:
    <br>
    - Sharing links on social media
    <br>
    - Sending links in emails
    <br>
    - Including links in your website or blog

    </p>
    <p>
        Red Route is also a great way to track clicks on your links. With Red Route, you can see how many people have clicked on your links and where they are coming from.
        <br>
        To use Red Route, simply enter the long URL in the box and click on the "Shorten URL" button. Red Route will then generate a short, unique URL for you. You can then copy and paste the short URL wherever you want to share it.
        <br>
        Red Route is a great way to make your links more shareable and trackable. Sign up today and start shortening your links!
    </p>
</div>
<div class="about">
    <h1>Key Features</h1>
    <ul class="about-list">
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-lock-line"></i>
                    Free to use
                </div>
            </div>
        </li>
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-bar-chart-line"></i>
                    Easy to use
                </div>
            </div>
        </li>
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-link"></i>
                    Memorable URLs
                </div>
            </div>
        </li>
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-dashboard-line"></i>
                    Click tracking
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
