{% extends "auth.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<form method="post">
    <h2>Forgot Password</h2>
    <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" name="email" required>
        <label for="">Email</label>
    </div>
    <button type="submit">Send Email</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <small style="color: gray; display: flex; text-align: center;">{{message}}</small>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="register">
        <p>Don't have a account <a href="{{url_for('signup')}}">Sign Up</a></p>
    </div>
</form>
{% endblock %}