{% extends 'base.html' %}
{% block title %}URL History{% endblock %}
{% block content %}
<section class="history">
{% if urls %}
<div class="table-container" style="overflow-x: auto;">
  <table>
	<thead>
		<tr>
		  <th>Short URL</th>
		  <th>Long URL</th>
		  <th>Date Created</th>
		  <th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for url in urls %}
		<tr>
		<td><a href="{{ url_for('redirect_url', short_url=url.short_url) }}" target="_blank">{{host}}{{url.short_url}}</a></td>
		<td>{{ url.long_url }}</td>
		<td>{{ url.created_at.strftime('%I:%M%p %B %d, %Y') }}</td>
		<td><a href="{{ url_for('delete', id=url.id) }}">Delete</a></td>
		</tr>
		{% endfor %}
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for message in messages %}
					<strong style="color:red;">{{message}}</strong>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</tbody>
  </table>
</div>
{% else %}
  <h1>You do not have any urls yet. <a href="{{url_for('home')}}">Click to Create</a> </h1>
{% endif %}
</section>
{% endblock %}
