{% extends 'base.html' %}
{% block title %}URL Shortener{% endblock %}
{% block content %}

<section class="hero">
    <div class="hero-text">
        {% if current_user.is_authenticated %}
        <h3 style="padding-bottom: 5px;">Hello {{current_user.username|capitalize}}</h3>
        <div class="url-form">
            <form method="POST">
                <input type="text" name="long_url" id="long_url" placeholder="https://example.com/my-long-url" required>
                <input type="text" name="custom_url" id="custom_url" placeholder="Enter custom URL (optional)">
                <br>
                <button type="submit">Shorten URL</button>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <small style="color: gray; display: flex; text-align: center;">{{message}}</small>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
        {% else %}
        <h5>Welcome to</h5>
        <h1>Red<span>Route</span></h1>
        <h4>Shorten. Share. Succeed.</h4>
        <p><span>Shortening URLs, Analytics and Customization.</span></p>
        <a href="{{url_for('signup')}}">Sign up to get started</a>
        {% endif %}
    </div>
    <div class="hero-img">
        <img src="{{url_for('static', filename='images/home.png')}}" alt="RedRoute">

    </div>
</section>

<div class="icons">
    <a href="https://twitter.com/RedX_13" target="_blank"><i class="ri-twitter-line"></i></a>
    <a href="https://www.linkedin.com/in/noah-useghan-44b37b221/" target="_blank"><i class="ri-linkedin-line"></i></a>
</div>

<div class="scroll-down">
    <i class="ri-chat-1-line"></i>       
</div>
{% endblock %}
