{% extends "auth.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="post">
        <h2>Login</h2>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" required>
            <label for="">Email</label>
        </div>
        
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" required>
            <label for="">Password</label>
        </div>
        <button type="submit">Log in</button>
        <div class="register">
            <p>Don't have a account <a href="{{url_for('signup')}}">Sign Up</a></p>
        </div>
        <div class="forget">
            <p>Forgot Password? <a href="{{url_for('forgot_password')}}">Reset Password</a></p>
        </div>
        
    </form>
{% endblock %}