{% extends "auth.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="post" style="padding: 10px;">
        <h2>Login</h2>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" required>
            <label for="">Email</label>
        </div>
        
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" required>
            <label for="">Password</label>
        </div>
        <button type="submit">Log in</button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <small style="color: gray; display: flex; text-align: center;">{{message}}</small>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="register">
            <p>Don't have a account <a href="{{url_for('signup')}}">Sign Up</a></p>
        </div>
        <div class="forget">
            <p><a href="{{url_for('forgot_password')}}">Forgot Password?</a></p>
        </div>
        
    </form>
{% endblock %}