{% extends "auth.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<form method="post">
    <h2>Reset Password</h2>
    <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" name="email" required>
        <label for="">Email</label>
    </div>
    <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" name="password" required>
        <label for="">Password</label>
    </div>
    <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" name="confirm_password" required>
        <label for="">Confirm Password</label>
    </div>
    <button type="submit">Reset Password</button>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <small style="color: gray; display: flex; text-align: center;">{{message}}</small>
        {% endfor %}
    {% endif %}
    {% endwith %}
</form>
{% endblock %}