{% extends "auth.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <form method="post" style="padding: 10px;">
        <h2>Sign Up</h2>
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" name="username" required>
            <label for="">Username</label>
        </div>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" required>
            <label for="">Email</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" required>
            <label for="">Password</label>
        </div>
        <div class="inputbox">
            <ion-icon name="document-lock-outline"></ion-icon>
            <input type="password" name="confirm_password" required>
            <label for="">Confirm Password</label>
        </div>
        <button type="submit">Sign Up</button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <small style="color: gray; display: flex; text-align: center;">{{message}}</small>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="register">
            <p>Already have a account? <a href="{{url_for('login')}}">Login</a></p>
        </div>
    </form>
{% endblock %}