{% extends "auth.html" %}
{% block title %}Email validation{% endblock %}
{% block content %}
    <form method="post">
        <h2>Email validation</h2>
        <div class="inputbox">
            <ion-icon name="pin-outline"></ion-icon>
            <input type="number" name="otp" required>
            <label for="">OTP</label>
        </div>
        <button type="submit">Confirm</button>

        Click <a href="{{url_for('resend', email=email)}}">here</a> to resend otp
    </form>
{% endblock %}